@import url("../fonts/DBOzoneX/styles.css");
@import url("../fonts/DBOzoneX-Light/styles.css");
@import url("../fonts/DBOzoneX-UltraLi/styles.css");
@import url("../fonts/DBOzoneX-Medium/styles.css");
@import url("../fonts/DBOzoneX-Bold/styles.css");

body {
  font-family: "DBOzoneX";
  font-size: 16px;
}
.tileGuide{
  font-size: 24px;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  text-align: center;
}
.txtGuide{
  font-size: 22px;
  margin-bottom: 0;
  text-align: center;
}
.iconShare{
  width: 28px;
  margin-bottom: 0.5rem;
}