
@font-face {
  font-family: 'DBOzoneX-Light';
  src: url('DBOzoneX-Light.eot?#iefix') format('embedded-opentype'),  url('DBOzoneX-Light.woff') format('woff'), url('DBOzoneX-Light.ttf')  format('truetype'), url('DBOzoneX-Light.svg#DBOzoneX-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
