
@font-face {
  font-family: 'DBOzoneX-UltraLi';
  src: url('DBOzoneX-UltraLi.eot?#iefix') format('embedded-opentype'),  url('DBOzoneX-UltraLi.woff') format('woff'), url('DBOzoneX-UltraLi.ttf')  format('truetype'), url('DBOzoneX-UltraLi.svg#DBOzoneX-UltraLi') format('svg');
  font-weight: normal;
  font-style: normal;
}
