
@font-face {
  font-family: 'DBOzoneX-Medium';
  src: url('DBOzoneX-Medium.eot?#iefix') format('embedded-opentype'),  url('DBOzoneX-Medium.woff') format('woff'), url('DBOzoneX-Medium.ttf')  format('truetype'), url('DBOzoneX-Medium.svg#DBOzoneX-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
