
@font-face {
  font-family: 'DBOzoneX-Bold';
  src: url('DBOzoneX-Bold.eot?#iefix') format('embedded-opentype'),  url('DBOzoneX-Bold.woff') format('woff'), url('DBOzoneX-Bold.ttf')  format('truetype'), url('DBOzoneX-Bold.svg#DBOzoneX-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
