
@font-face {
  font-family: 'DBOzoneX';
  src: url('DBOzoneX.eot?#iefix') format('embedded-opentype'),  url('DBOzoneX.woff') format('woff'), url('DBOzoneX.ttf')  format('truetype'), url('DBOzoneX.svg#DBOzoneX') format('svg');
  font-weight: normal;
  font-style: normal;
}
